{% extends "layout.html" %}
{% block title %}
 About
{% endblock %}

{% block content %}
<h1 style="text-align: center; margin-top: 20px; font-weight:600">About Me</h1><br>

  <h3 style="margin-left:3%; margin-right:3%">"Hello! My name is Durga Prasad, I am a recent B.Tech graduate. Currently, I am enhancing my skills through an internship 
    at Talent Waves Pvt Ltd. <br><br>
    I am deeply passionate about learning new technologies, with a keen interest in web development. I am committed to growing my expertise in 
    creating engaging and functional websites." <br><br>
    This is my First Django project, undertaken as part of my skill development efforts.
  </h3>
  
{% endblock  %}

